<div class="box">

    <h2>Add Product</h2>

    <form (ngSubmit)="send()">

        <label>Name: </label>
        <input type="text" name="name" [(ngModel)]="product.name" />

        <label>Price: </label>
        <input type="number" name="price" [(ngModel)]="product.price" />

        <label>Stock: </label>
        <input type="number" name="stock" [(ngModel)]="product.stock" />

        <label>Image: </label>
        <input type="file" name="image" #myImage />

        <button>Add</button>

    </form>

</div>